<h1>Add New Article:</h1>
<form action="/articles/new" method="post">
  <label>Title:
    <input type="text" name="title" id="">
  </label>
  <br><br>
  <label>Author:
    <input type="text" name="author" id="">
  </label>
  <br><br>
  <label>Description:
    <input type="text" name="description" id="">
  </label>
  <br><br>
  <input type="submit" value="Submit">
</form>
<br> {{> footer}}
<br>
<h3><a href='/settings'>SETTINGS</a></h3>
<h3><a href='/logout'>LOGOUT</a></h3>