<h1>Login:</h1>
<form action='/login' method='post'>
    <label>Email:
        <input type='email' name='email' id='' required>
    </label>
    <br><br>
    <label>Password:
        <input type='password', name='password' id='' required>
    </label>
    <br><br>
    <input type='submit' value='Login'>
</form>
