<head>
    <link rel="stylesheet" href="css/styles.css">
</head>
<h1>Edit Post:</h1>
{{#with post}}
<form action='/gallery/{{ id }}/edit?_method=PUT' id="updatePost" method='post'>
    <label>Author: <input type='text' name='author' value={{ author }} required></label>
    <br><br>
    <label>Image: <input type='url' name='link' value={{ link }} required></label>
    <br><br>
    <input type='submit' value='Update'>
</form>
<textarea name="description" form="updatePost">{{ description }}</textarea>
{{/with}}
<br>
<h3><a href='/'>BACK TO GALLERY</a></h3>